<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ex nihil accusantium quis aspernatur similique provident exercitationem modi neque, ab, aliquam voluptates commodi quam sed dolor rem illum. Porro sint, sit ut fugiat aperiam sunt temporibus ullam perferendis asperiores minima.</p>
    </div>
</div>


