<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodes js AND Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, labore.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, soluta! Maiores repellat aliquid veritatis sit laborum, aliquam voluptas non totam officia ex quaerat, necessitatibus excepturi repudiandae! Eveniet ullam esse officia.</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Start now!</a>
</div>